*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo-img{
    width: 5%;
}

.navegacion{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
}

.menu2{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.menu3{
    display: flex;
}

.submenu{
    visibility:hidden;
}

.navegacion ul{
	list-style: none;
}